<div class="text-center row">
    <figure class="col">
        <img src="~/img/logo_mundial - Copia.png" alt="Logo del mundial" class="img-fluid" />
    </figure>
    <div class="col align-self-center">
        <h1 class="display-3 col-12">Portal deportivo</h1>
        <h2 class="col-12">Mundial Qatar 2022</h2>
        <p class="col-12">@ViewBag.msg</p>
    </div>
</div>

